.main-btn {
  padding: 11px 16px;
  background-color: #F26722;
  border-radius: 8px;
  border: none;
  transition: background-color .3s ease-in-out;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #FAFAFA;

  &__arrow-btn {
    padding-bottom: 1px;
    width: 13px;
    height: 13px;
    margin-right: 5px;
  }
}

.main-btn:hover {
  background-color: #CD4D0D;
}

.main-btn-white {
  padding: 11px 16px;
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  transition: background-color .3s ease-in-out;
  cursor: pointer;
  color: #3B374F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  &__arrow-btn {
    padding-bottom: 1px;
    width: 13px;
    height: 13px;
    margin-right: 5px;
  }
}

.main-btn-white:hover {
  background-color: #ECD8FF;
}


.title {
  margin: 0;
  display: block;
  font-family: 'Bebas', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  color: #3B374F;
}



@media (max-width: 1024px) {
  .title {
    font-size: 46px;
    line-height: 46px;
  }
}

@media (max-width: 886px) {
  .title {
    font-size: 32px;
    line-height: 32px;
  }
}


.text {
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #020202;
}


@media (max-width: 886px) {
  .text {
    font-size: 14px;
    line-height: 14px;
  }
}



.card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #3B374F;
  display: block;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3B374F;
  display: block;
}


@media (max-width: 1080px) {

  .card-text {
    font-size: 14px;
    line-height: 16px;
  }

  .card-title {
    font-size: 18px;
    line-height: 20px;
  }
}


@media (max-width: 552px) {
  .card-title {
    font-size: 16px;
    line-height: 18px;
  }
}
