.useful {
  padding-top: 36px;
  padding-bottom: 72px;

  &__title {
    text-align: center;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin: 0;
    padding: 0;
    padding-top: 38px;
  }

  &__link {
    display: flex;
    flex-direction: column;
  }

  &__link-title {
    font-size: 16px;
    line-height: 140%;
    color: #020202;
    transition: color .3s ease-in-out;
  }

  &__li:hover {
    .useful__link-title {
      color: #B183DF;
    }
  }
}


@media (max-width: 1220px) {
  .useful__list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1038px) {
  .useful__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 850px) {
  .useful__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 602px) {
  .useful__list {
    grid-template-columns: 1fr 1fr;
    padding-top: 42px;
  }
}

@media (max-width: 500px) {
  .useful__link-title {
    font-size: 14px;
    line-height: 120%;
  }
}
